.change-password-section{

    .form-wrapper{
        margin-top: 1rem;
        background-color: $color-gray;
        border: solid #cccccc 1px;
        display: flex;
        flex-direction: column;

        form{
            max-width: 350px;
        }
    }
}
