.change-password-section{

    .form-wrapper{
        margin-top: 1rem;
        background-color: $color-white;
        display: flex;
        flex-direction: column;

        form{
            max-width: 300px;
        }
    }
}
