.overview-section{
  flex-grow: 1;
    height:100%;


  .welcome-text{
    margin: 3rem 2rem;
    width: fit-content;

    span{
      background-color: $color-primary;
      color: $color-white;
      font-size: 2rem;
      padding: 0 2rem;
      line-height: 3rem;
    }
  }

}
